body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(135, 141, 138);
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-rows: .3fr 2fr 1fr;
    gap: 10px;
    height: 100vh;
    /* border: 4px solid black; */
    /* margin: .5rem; */
    padding: 1rem;

}

#topBanner {
    /* border: 1px dotted rgb(201, 11, 137) ; */
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#searchDiv {
    display: grid;
    padding: .5rem 0;
    width: 100%;
   
}

#searchInput {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    
}

#errorMessage, #loading   {
    color: orange;
    font-weight: bold;
    padding: 1rem;
    /* border: 1px solid; */
    
}


#metricDiv {
    display: grid;
    justify-items: end;
    padding: .5rem;
    height: 1rem;
  
    
}

#metricToggle {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

#mainPanel {
    background-color: rgb(14, 92, 14);
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    border-radius: 5px;
    
}

#weeklyForecast {
    background-color: rgb(14, 95, 14);
    border-radius: 5px;
    height: 100%;
}

#daysDiv {
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
    border: 1px solid;
    
    
}

.forecast-card {
    border: 1px solid;
    padding: .5em;
    border-radius: 5px;
    font-size: 80%;
    
    
    
}

.main-weather-icon {

    width : 30px;
    height: 30px

}

.weather-icon {
    display: inline-block;
    margin-left: 10px;
    width : 20px;
    height: 20px
}

