:root {
    --background: rgb(197, 163, 174);
    
    --main: rgb(62, 135, 163);

    --card: rgb(41, 116, 146);
    
    --text: white;

    --error: rgb(0, 0, 0);

    --loading : orange;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    margin: 0;
    box-sizing: border-box;
    color: var(--text)
}

#container {
    display: grid;
    grid-template-rows: .3fr 2fr 1fr;
    gap: 10px;
    height: 100vh;
    padding: 1rem;

}

#topBanner {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#searchDiv {
    display: flex;
    gap: .5rem;
    padding: .5rem 0;
    width: 100%;
   
}

#searchInput {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    
}


#searchButton{
    border: none;
    background-color: rgb(197, 203, 209);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    
}

#errorMessage, #loading   {
    color: var(--error);
    font-weight: bold;
    padding: 1rem;
    
}

#loading {
    color: var(--loading);
}

#metricDiv {
    display: grid;
    justify-items: end;
    padding: .5rem;
    height: 1rem; 
}

#metricToggle {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;

}

#metricToggle:hover {
    background-color: rgb(197, 203, 209);
    transition: 200ms;
}

#mainPanel {
    background-color: var(--main);
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    border-radius: 5px;
    gap: .5rem;  
}

#temp {
    margin: 1em;
}

#feelsLike, #conditions {
    margin: 1em;
}

#weatherDetails {
    display:flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

#weeklyForecast {
    
    border-radius: 5px;
    height: 100%;
}

#daysDiv {
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
    background-color: var(--background);
}

.forecast-card {
    padding: .5em;
    border-radius: 5px;
    font-size: 80%;
    background-color: var(--card);
      
}

.main-weather-icon {
    width : 40px;
    height: 40px
}

.weather-icon {
    display: inline-block;
    margin-left: 10px;
    width : 20px;
    height: 20px
}

